@import "../../partials/mixins";

body {
    background-color: #ffecc9;
}

.quiz {
    &_page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 900px;
        margin-bottom: 50px;
    }

    &_landing-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        button {
            margin-bottom: 50px;
        }
    }

    &_score {
        &-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px;
            margin-bottom: 60px;
            background-color: #d9d9d9;
            height: 200px;
            // border: 2px solid #666666;
            position: relative;
            width: 90%;

            &::before {
                content: "";
                position: absolute;
                height: inherit;
                width: 100%;
                background-color: #a9a9a9;
                z-index: -1;
                top: 13px;
                left: 17px;
            }
        }

        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mobile {
                align-items: flex-start;
            }
        }
    }

    &_active-score {
        &-section {
            display: flex;

            @include mobile {
                flex-direction: column;
            }
        }

        &-incorrect {
            margin-left: 30px;

            @include mobile {
                margin-left: 0;
            }
        }
    }

    &_question-counter {
        margin-bottom: 20px;
    }

    &_bold-num {
        font-weight: 900;
        font-size: 2.25rem;
    }

    &_question {
        height: 200px;
        width: 100%;
        // max-width: 900px;
        margin-bottom: 50px;
        font-size: 1.5rem;
        line-height: 1.4;
        border: 2px solid black;
        padding: 50px;
        position: relative;
        background-color: #fff;

        &::before {
            content: "";
            position: absolute;
            height: inherit;
            width: 100%;
            background-color: plum;
            z-index: -1;
            top: 13px;
            left: 17px;
        }

        @include tablet {
            height: 240px;
        }

        @include mobile {
            height: inherit;
        }
    }

    &_action-btns-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include mobile {
            flex-direction: column-reverse;
            align-items: center;
        }

        button {
            @include mobile {
                margin-bottom: 50px;
            }
        }
    }

    &_end {
        &-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            button {
                margin-bottom: 50px;
            }
        }

        &-final-score {
            margin-bottom: 60px;
            padding: 50px;
            position: relative;
            background-color: #d9d9d9;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &::before {
                content: "";
                position: absolute;
                height: inherit;
                width: 100%;
                background-color: #a9a9a9;
                z-index: -1;
                top: 13px;
                left: 17px;
            }

            @include mobile {
                width: 90%;
            }
        }
    }
}

.answer {
    &_section {
        display: flex;
        // flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
        // max-width: 300px;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 280px;

        @include mobile {
            height: unset;
        }
    }

    &_btn {
        width: 48%;
        // margin-bottom: 2%;
        height: 100px;

        @include mobile {
            width: 100%;
            height: unset;
            margin-bottom: 25px;
        }

        &-disable {
            pointer-events: none;
        }
    }

    &_correct {
        background-color: green !important;
        opacity: 0.5;
        color: white;
    }

    &_wrong {
        background-color: red !important;
        opacity: 0.5;
        color: white;
    }

    &_selected {
        opacity: 1 !important;
    }
}
