@import "~bootstrap/scss/bootstrap";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;300;400;500;600;900&display=swap");

* {
    font-family: "Noto Sans Mono", monospace;
}

table {
    background-color: #fff;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: inherit;
        width: 100%;
        background-color: plum;
        z-index: -1;
        top: 13px;
        left: 17px;
    }
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 7px 10px;
}

.hide {
    display: none !important;
}

.main-section {
    padding-top: 50px;
}
