@import "~bootstrap/scss/bootstrap";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;300;400;500;600&display=swap");

* {
    font-family: "Noto Sans Mono", monospace;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 7px 10px;
}

.hide {
    display: none !important;
}

.main-section {
    padding-top: 50px;
}
